name: Update Data Usage in README

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run the update script
        env:
          GITHUB_TOKEN: ${{ secrets.SHEEP }}
          USERNAME: 'PCL-Community' 
          REPO_NAME: 'prismlauncher-meta-bmclapi' 
        run: python ./.github/scripts/update_readme.py

      - name: Commit and push if changed
        run: |
          git diff
          if git diff --exit-code; then
              echo "No changes to commit"
          else
              git config --global user.name 'GitHub Actions'
              git config --global user.email 'actions@github.com'
              git add README.md
              git commit -m 'Update GitHub Pages data usage in README'
              git push
